body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #f3f3f3;
  padding: 0;
}

form {
  margin-top: 0;
}

header {
  margin: 40px;
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-weight: 400;
}

#description {
  margin-top: 3px;
  margin-bottom: 0;
  font-weight: 275;
  font-style: italic;
}

label,
p {
  display: block;
  font-size: 1.125rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  display: block;
  font-size: 0.9rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border: none;
  border: 1px solid #040474;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 7.5px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #4f4e50;
  font-family: "Poppins";
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-top: 7px;
  margin-bottom: 7px;
}

input[type="radio"]:first-child {
  margin-top: 0;
}

.recommend {
  margin-bottom: 0;
}

select {
  width: 103%;
  background-color: #ffffff;
}

.small {
  font-size: 0.9rem;
  margin-left: 0.15rem;
}

label[for="comments"] {
  margin-top: 30px;
}

textarea {
  width: 100%;
  margin-top: 5px;
  min-height: 120px;
  margin-bottom: 5px;
  padding: 0.625rem;
  resize: vertical;
}

.container {
  background-color: rgba(27, 27, 50, 0.8);
  padding: 2.7rem;
  max-width: 640px;
  border-radius: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="submit"] {
    background-color: #37af65;
    color: #f3f3f3;
    width: 103.75%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
